body 
	// height: 500px
	background: #4696CD
	// font-family: Tahoma, Verdana, sans-serif
	font-family: 'Neucha', cursive

a,a:hover,p,header
	color: #fff
	
ul,ol,li
	padding-left: 0
	list-style: none

h3
	font-size: 20pх
	line-height: 21px

$separator: 1px dotted #adf

.separator
	border-bottom: $separator
	clear: both

header 
	padding: 30px 0 0 0
	overflow: hidden
	margin-bottom: 15px

	.separator
		margin: 0 30px 0 15px
		padding-bottom: 15px

	h1
		font-family: 'Ruslan Display', cursive
		margin-bottom: 0

	.h-right
		padding-left: 40px

.woocommerce-result-count
	font-size: 20px
	padding-left: 15px

.alex-content 
	
	.products

		li 
			margin-bottom: 40px
			text-align: center

		a 
			display: block

		.wp-post-image
			max-width: 100%
			height: auto
			height: 133px
			width: auto

		ins 	
			text-decoration: none 
			font-weight: bold

		.price
			color: #fff 
			text-align: center

			del 
				padding-right: 10px


.left-sidebar
	> ul 
		border-bottom: $separator
		// border-bottom: 1px dotted #fff
		padding-bottom: 30px
		margin-bottom: 30px

	li 
		padding-bottom: 6px



.add_to_cart_button
	background: #266d9e
	padding: 7px 0
	margin-top: 10px

footer
	padding: 20px 0 30px 0

	.separator 
		margin-bottom: 20px
